* {
    margin: 0;
    padding: 0;
}

#results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    // min-height: 100vh;

    /* background-color: yellow; */
}

.result {
    display: flex;
    flex-direction: column;

    width: min(90%, 32.5em);

    margin-bottom: min(3vh, 15px);

    padding: 1.25em;

    border-radius: 7.5px;

    box-shadow: 0px 0px 0.25em 0.1vh lightgray;

    background-color: white;
}

.result p {
    display: flex;
    flex-direction: row;
}

.result p .word_type {
    display: inline;
    min-width: 3em;
    margin-right: 0.5em;
}

.entry {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: auto;

    margin-bottom: 0.75em;

    font-size: 1.5em;

    /* background-color: blue; */
}

.hanja {
    font-weight: normal;
    /* margin-left: 0.5em; */

    opacity: 50%;
}

.hanja_bracket {
    opacity: 20%;
    display: none;
}

.word_type {
    opacity: 50%;
}
