@use "../../styles/App.scss";

#Watermark {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	position: absolute;
	bottom: 0;

	// width: 100%;

	padding-left: 0.33em;
	padding-right: 0.33em;
	box-sizing: border-box;

	border-top-right-radius: 0.5em;

	background-color: white;

	a {
		text-decoration: underline;
	}
	a:hover,
	a:focus {
		color: App.$COLOR_B_DARK;
	}

	.year {
		margin-left: 0.33em;
		margin-top: 0.05em;
		// background-color: red;
	}
}
