* {
    margin: 0;
    padding: 0;
}

body {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;

    background-color: none;
}

main {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100% ;

    color: black;
    background-color: none;
    
}

#title {
    font-family: sans-serif;
    font-weight: bold;
}

#subtitle {
    font-size: 1.05em;
    font-family: sans-serif;
    font-weight: normal;
}

form {
    margin-top: 1.25em;
}

form input {
    border-radius: 2px;

    padding: 0.1em;

    border: 1px solid gray;
}

form label {
    display: none;
}

#searchBox {
    padding-left: 0.25em;
}

#searchButton {
    padding-left: 1em;
    padding-right: 1em;
}