@use "../../styles/App.scss";

#Watermark {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	position: fixed;
	left: 0;
	bottom: 0;

	padding-top: 0.25em;
	padding-bottom: 0.25em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	box-sizing: border-box;

	border-top-right-radius: 0.5em;

	font-family: monospace;
	font-weight: lighter;

	transition: background-color 0.1s;
	background-color: rgba(255, 255, 255, 0.5);

	a {
		text-decoration: underline;
	}

	.year {
		margin-left: 0.33em;
		margin-top: 0.05em;
		// background-color: red;
	}
}
#Watermark:hover,
#Watermark:focus {
	background-color: rgba(255, 255, 255, 0.75);
}
